*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

/* Header */

.header__nav {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
}

.header__item {
    margin-left: 50px;
}

.header__link {
    text-decoration: none;
    color: black;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
}

.header__hero {
    padding: 50px;
    display: flex;
}

.header__welcome {
    flex: 1;
    align-self: center;
}

.header__title {
    font-size: 44px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    line-height: 1.5;
}

.header__desc {
    margin: 20px 0;
    max-width: 600px;
    font-size: 18px;
    line-height: 1.5;
}

.header__form {
    max-width: 500px;
    display: flex;
}

.header__input {
    flex: 2;
    padding: 15px 15px 10px;
    font-size: 17px;
    border: 1px solid black;
    border-radius: 3px;
}

.header__submit {
    flex: 1;
    margin-left: 20px;
    font-size: 17px;
    font-weight: bold;
    color: hsl(240, 75%, 98%);
    background-color: hsl(224, 93%, 58%);
    border: 0;
    border-radius: 3px;
}

.header__image {
    flex: 1;
}

.header__illustration {
    width: 100%;
    height: auto;
}

/* Productive ( Main ) */

.main {
    padding: 50px;
    background-color: hsl(240, 75%, 98%);
}

.main__productivity {
    display: flex;
}

.main__info {
    flex: 1;
}

.main__title {
    margin-bottom: 30px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 32px;
}

.main__desc {
    max-width: 550px;
    margin-bottom: 15px;
    line-height: 1.5;
}

.main__link {
    padding-bottom: 5px;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: hsl(170, 45%, 43%);
    border-bottom: 2px solid hsl(170, 45%, 43%);
}

.main__arrow {
    margin-left: 5px;
}

.main__testimonial {
    margin-top: 40px;
    max-width: 400px;
    padding: 40px 30px 25px;
    font-size: 14px;
    background-color: hsl(0, 0%, 100%);
    background-image: url("../images/icon-quotes.svg");
    background-repeat: no-repeat;
    background-position: 30px 25px;
    border-radius: 3px;
    border: 0;
    box-shadow: 0 0 8px hsla(0, 0%, 0%, 0.2);
}

.main__review {
    line-height: 1.5;
}

.main__profile {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.main__picture {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.main__about {
    margin-left: 10px;
    font-size: 14px;
}

.main__name {
    margin-bottom: 5px;
    font-weight: bold;
}

.main__role {
    font-size: 12px;
}

.main__image {
    flex: 1;
}

.main__illustration {
    width: 100%;
    height: auto;
}

/* Access */

.access {
    padding: 100px 50px;
    display: flex;
    background-color: hsl(238, 22%, 44%);
}

.access__info {
    flex: 1;
}

.access__title {
    font-size: 32px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    color: hsl(240, 75%, 98%);
}

.access__desc {
    margin-top: 20px;
    max-width: 500px;
    color: hsl(240, 75%, 98%);
    line-height: 1.5;
}

.access__form {
    flex: 1;
    padding-top: 10px;
}

.access__email {
    max-width: 500px;
    width: 100%;
    padding: 15px 20px;
    border-radius: 3px;
    border: 0;
    box-shadow: 0 0 4px hsla(0, 0%, 0%, .2);
}

.access__submit {
    display: block;
    margin-top: 15px;
    padding: 15px 25px;
    color: hsl(240, 75%, 98%);
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    background-color: hsl(224, 93%, 58%);
    border: 0;
    border-radius: 3px;
    box-shadow: 0 0 5px hsla(0, 0%, 0%, .2);
}

/* Footer */

.footer {
    padding: 100px 50px;
    background-color: hsl(243, 87%, 12%);
    color: hsl(240, 75%, 98%);
}

.footer__logo {
    filter: brightness(0) saturate(100%) invert(95%) sepia(88%) saturate(5%) hue-rotate(206deg) brightness(105%) contrast(100%);
}

.footer__grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.footer__contact {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.footer__contact-info {
    margin-left: 20px;
    color: hsl(0, 0%, 80%);
}

.footer__item {
    margin-bottom: 20px;
}

.footer__link {
    text-decoration: none;
    color: hsl(0, 0%, 80%);
}

.footer__socials {
    display: flex;
}

.footer__social {
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid hsl(240, 75%, 98%);
}

.footer__social-icon {
    width: 14px;
    height: 14px;
}